name: Actions Workflow

on: [push, pull_request]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List files
        run: |
          pwd
          ls -a
      - name: Checkout
        uses: actions/checkout@v1
      - name: List files after Checkout
        run: |
          pwd
          ls -a
      - name: Simple JS Action
        id: greet
        # this is a repo
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: Deep
      - name: Log Greeting Time
        run: echo "${{ steps.greet.outputs.time }}"